name: "Test"

on:
  push:

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - id: getPRTitle
        run: echo "pr_title=$(gh pr view 317 --json 'title' --jq '.title')" >> "$GITHUB_OUTPUT"
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - run: echo ${{ toJSON(steps.getPRTitle.outputs.pr_title) }}

      - run: |
          BODY="$(cat <<'EOF'
          :wave: Friendly reminder that deploy blockers are time-sensitive â± issues! [Check out the open \`StagingDeployCash\` deploy checklist](https://github.com/Expensify/App/issues?q=is%3Aopen+is%3Aissue+label%3AStagingDeployCash) to see the list of PRs included in this release, then work quickly to do one of the following:

          1. Identify the pull request that introduced this issue and revert it.
          2. Find someone who can quickly fix the issue.
          3. Fix the issue yourself.

          EOF
          )"
          gh issue comment 317 --body "$BODY"
        env:
          GITHUB_TOKEN: ${{ github.token }}
